@charset "ISO-8859-1";

html, body{
	background:#424344;
	color: #f3f3f3;
	font-family: arial;
	width: 100%;
}

.homebutton img{
	text-align: center;
	max-height: 125px;
}


h1,h2{
	text-align:center;
}