@charset "ISO-8859-1";

html, body{
	background:#424344;
	color: #f3f3f3;
	font-family: arial;
	width: 100%;
}

.homebutton img{
	text-align: center;
	max-height: 125px;
}


h1,h2{
	text-align:center;
}

.letter-navigation {
	margin: 0 auto;
	font-size: 15px;
	list-style-type: none;
	padding: 10px;
}
.multi-col_list{
	list-style-type: none;
    height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.multi-col_list a{
	color: #f3f3f3;
}


#search_form{
	float: right;
}


.letter_navigation {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
} 

li {
	color: #f3f3f3;
    display: block;
    flex: 0 1 auto; /* Default */
    
}

a {
	color: white;
	font-size: 15px;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.fabflix {color: white};

.checkout {
	float: right;
	border: red;
}


.shoppingLabel{
	text-align:center;
}


